import type { FC } from 'react'
import React from 'react'

import styled from 'styled-components'

/* eslint-disable-next-line */
export interface {{name}}Props {}

const Wrapper = styled.div``

export const {{name}}: FC<{{name}}Props> = () => {
  return (
    <Wrapper>
      <h1>Welcome to {{name}}!</h1>
    </Wrapper>
  )
}
