{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["styled-components", { "pure": true, "ssr": true }],
    "babel-plugin-macros",
    "@babel/plugin-transform-react-jsx"
  ]
}
