{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3.11",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "./libs/babel-transform-react-display-name"
  ]
}
