# This file is used by:
# 1. autoprefixer to adjust CSS to support the below specified browsers
# 2. babel preset-env to adjust included polyfills
#
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
# to see the actual set of browsers this produces, run
#
#   npx browserslists --config=.browserslistrc

# equivalent to 'defaults'
> 0.5%
last 2 versions
Firefox ESR
not dead

not IE 9-11