/dist
/node_modules
deno.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.helix
.react-router/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/css.json

.env
.eslintcache

# System Files
.DS_Store
Thumbs.db
test-results/
ci-e2e-traces/
playwright-report/
.vercel

# Visual regression snapshots
test/e2e/**/*-snapshots/
test/e2e/**/*.png

# LLMs
CLAUDE.md
