.ox-form .ox-divider {
  width: calc(100% + var(--content-gutter) * 2);
  margin-left: calc(var(--content-gutter) * -1);
}

/* TODO: Fix tabs full width behavior broken when in container */
.ox-form .ox-tabs > div {
  width: calc(100% + var(--content-gutter) * 2) !important;
  margin-left: calc(var(--content-gutter) * -1) !important;
}

.ox-form,
.ox-form .ox-tabs-panel {
  @apply space-y-7;
}

.ox-form.is-side-modal .ox-divider {
  @apply my-10;
}

.ox-form:not(.is-side-modal) .ox-divider {
  @apply mt-20 mb-16;
}
