/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *  
 * Copyright Oxide Computer Company
 */

/* GT America Mono */
/* Source: https://www.grillitype.com/typeface/gt-america */
@font-face {
  font-family: 'GT America Mono';
  src:
    url('../assets/fonts/GT-America-Mono-Regular-OCC.woff2') format('woff2'),
    url('../assets/fonts/GT-America-Mono-Regular-OCC.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Mono';
  src:
    url('../assets/fonts/GT-America-Mono-Medium.woff2') format('woff2'),
    url('../assets/fonts/GT-America-Mono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Suisse International */
/* Source: https://www.swisstypefaces.com/fonts/suisse/ */
@font-face {
  font-family: 'SuisseIntl';
  src:
    url('../assets/fonts/SuisseIntl-Light-WebS.woff2') format('woff2'),
    url('../assets/fonts/SuisseIntl-Light-WebS.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src:
    url('../assets/fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
    url('../assets/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src:
    url('../assets/fonts/SuisseIntl-RegularItalic-WebS.woff2') format('woff2'),
    url('../assets/fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src:
    url('../assets/fonts/SuisseIntl-Book-WebS.woff2') format('woff2'),
    url('../assets/fonts/SuisseIntl-Book-WebS.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
