/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *  
 * Copyright Oxide Computer Company
 */

/*
 * We import all of these here instead of in the corresponding component files
 * so we can control the order things are imported in. In theory that's what the
 * @layer directives are for, but Vite's usage of postcss-import didn't  seem
 * to be aware of the @tailwind directives here. I suspect it was not following
 * the order specified in our postcss config. In any case we don't need to worry
 * about that if we're controlling the order directly here. All of these end up
 * inlined into a single file by postcss-import.
 */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@oxide/design-system/styles/dist/main.css';
@import 'simplebar-react/dist/simplebar.min.css';

@import './fonts.css';
@import './components/button.css';
@import './components/menu-button.css';
@import './components/menu-list.css';
@import './components/loading-bar.css';
@import './components/Tabs.css';
@import './components/form.css';
@import './components/login-page.css';
@import './components/mini-table.css';
@import './components/properties-table.css';
@import './components/side-modal.css';
@import './components/spinner.css';
@import './components/table.css';
@import './components/tooltip.css';

@import './themes/selection.css';

@import 'xterm/css/xterm.css';

:root {
  --content-gutter: 2.5rem;

  /* Nicer easing from: https://twitter.com/bdc */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@layer base {
  body {
    @apply overflow-y-hidden text-default bg-default;
    font-family:
      SuisseIntl,
      -apple-system,
      BlinkMacSystemFont,
      Helvetica,
      Arial,
      sans-serif;
  }

  /* https://github.com/tailwindlabs/tailwindcss/blob/v2.2.4/src/plugins/css/preflight.css#L57 */
  input::placeholder,
  textarea::placeholder {
    @apply text-tertiary;
  }

  /* https://github.com/tailwindlabs/tailwindcss/blob/v2.2.4/src/plugins/css/preflight.css#L224 */
  svg {
    display: inline;
    vertical-align: baseline;
  }
}

@layer utilities {
  .external-link {
    @apply text-accent-secondary hover:text-accent;
  }

  .gutter {
    width: calc(100% - var(--content-gutter) * 2);
    margin-left: var(--content-gutter);
    margin-right: var(--content-gutter);
  }

  .link-with-underline {
    @apply text-secondary hover:text-default;
    text-decoration: underline;
    text-decoration-color: var(--content-quinary);

    &:hover {
      text-decoration-color: var(--content-tertiary);
    }
  }
}

/**
 * Remove focus ring for non-explicit scenarios.
 */
a:focus-visible,
button:focus-visible,
.ox-tabs-panel:focus-visible,
[role='listbox']:focus-visible,
[role='option']:focus-visible,
[role='button']:focus-visible,
input[type='text']:focus-visible,
input[type='textarea']:focus-visible,
textarea[type='text']:focus-visible,
input[type='file']:focus-visible,
input[type='radio']:focus-visible,
input[type='checkbox']:focus-visible,
input[type='number']:focus-visible {
  @apply outline outline-2 outline-offset-0 outline-accent-secondary;

  &.focus-error {
    @apply outline-error-secondary;
  }
}

a,
button,
.ox-tabs-panel,
[role='listbox'],
[role='option'],
[role='button'],
input[type='text'],
input[type='textarea'],
textarea[type='text'],
input[type='file'],
input[type='radio'],
input[type='checkbox'],
input[type='number'] {
  @apply transition-[outline-width] duration-100 ease-out;
}

a:focus,
button:focus,
.ox-tabs-panel:focus,
[role='listbox']:focus,
[role='option']:focus,
[role='button']:focus,
input[type='text']:focus,
input[type='textarea']:focus,
textarea[type='text']:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus,
input[type='number']:focus {
  @apply outline outline-2 outline-offset-0 outline-accent-secondary;

  &.focus-error {
    @apply outline-error-secondary;
  }
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
.ox-tabs-panel:focus:not(:focus-visible),
[role='listbox']:focus:not(:focus-visible),
[role='option']:focus:not(:focus-visible),
[role='button']:focus:not(:focus-visible),
input[type='text']:focus:not(:focus-visible),
input[type='textarea']:focus:not(:focus-visible),
textarea[type='text']:focus:not(:focus-visible),
input[type='radio']:focus:not(:focus-visible),
input[type='checkbox']:focus:not(:focus-visible) {
  @apply outline-transparent;
}
