/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *  
 * Copyright Oxide Computer Company
 */

/*
 * We import all of these here instead of in the corresponding component files
 * so we can control the order things are imported in. In theory that's what the
 * @layer directives are for, but Vite's usage of postcss-import didn't  seem
 * to be aware of the @tailwind directives here. I suspect it was not following
 * the order specified in our postcss config. In any case we don't need to worry
 * about that if we're controlling the order directly here. All of these end up
 * inlined into a single file by postcss-import.
 */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@oxide/design-system/styles/dist/main.css';
@import 'simplebar-react/dist/simplebar.min.css';

@import './fonts.css';
@import './components/breadcrumbs.css';
@import './components/button.css';
@import './components/menu-button.css';
@import './components/menu-list.css';
@import './components/loading-bar.css';
@import './components/Tabs.css';
@import './components/form.css';
@import './components/login-page.css';
@import './components/mini-table.css';
@import './components/properties-table.css';
@import './components/side-modal.css';
@import './components/spinner.css';
@import './components/table.css';
@import './components/tooltip.css';

@import './themes/selection.css';

@import '@xterm/xterm/css/xterm.css';

:root {
  --content-gutter: 2.5rem;
}

@layer base {
  body {
    @apply overflow-y-hidden text-default bg-default;
    font-family:
      SuisseIntl,
      -apple-system,
      BlinkMacSystemFont,
      Helvetica,
      Arial,
      sans-serif;
  }

  /* https://github.com/tailwindlabs/tailwindcss/blob/v2.2.4/src/plugins/css/preflight.css#L57 */
  input::placeholder,
  textarea::placeholder {
    @apply text-tertiary;
  }

  /* https://github.com/tailwindlabs/tailwindcss/blob/v2.2.4/src/plugins/css/preflight.css#L224 */
  svg {
    display: inline;
    vertical-align: baseline;
  }
}

@layer utilities {
  .external-link {
    @apply text-accent-secondary hover:text-accent;
  }

  .gutter {
    width: calc(100% - var(--content-gutter) * 2);
    margin-left: var(--content-gutter);
    margin-right: var(--content-gutter);
  }

  .link-with-underline {
    @apply text-secondary hover:text-default;
    text-decoration: underline;
    text-decoration-color: var(--content-quinary);

    &:hover {
      text-decoration-color: var(--content-tertiary);
    }
  }
}

/**
 * Remove focus ring for non-explicit scenarios.
 */
a:focus-visible,
button:focus-visible,
.ox-tabs-panel:focus-visible,
[role='listbox']:focus-visible,
[role='option']:focus-visible,
[role='button']:focus-visible,
input[type='text']:focus-visible,
input[type='textarea']:focus-visible,
textarea[type='text']:focus-visible,
input[type='file']:focus-visible,
input[type='radio']:focus-visible,
input[type='checkbox']:focus-visible,
input[type='number']:focus-visible {
  @apply outline outline-2 outline-offset-0 outline-accent-secondary;

  &.focus-error {
    @apply outline-error-secondary;
  }
}

a:focus,
button:focus,
.ox-tabs-panel:focus,
[role='listbox']:focus,
[role='option']:focus,
[role='button']:focus,
input[type='text']:focus,
input[type='textarea']:focus,
textarea[type='text']:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus,
input[type='number']:focus {
  @apply outline outline-2 outline-offset-0 outline-accent-secondary;

  &.focus-error {
    @apply outline-error-secondary;
  }
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
.ox-tabs-panel:focus:not(:focus-visible),
[role='listbox']:focus:not(:focus-visible),
[role='option']:focus:not(:focus-visible),
[role='button']:focus:not(:focus-visible),
input[type='text']:focus:not(:focus-visible),
input[type='textarea']:focus:not(:focus-visible),
textarea[type='text']:focus:not(:focus-visible),
input[type='radio']:focus:not(:focus-visible),
input[type='checkbox']:focus:not(:focus-visible) {
  @apply outline-transparent;
}
