:root {
  --z-toast: 50;
  --z-modal-dropdown: 50;
  --z-modal: 40;
  --z-side-modal-dropdown: 40;
  --z-side-modal: 30;
  --z-modal-overlay: 25;
  --z-top-bar-dropdown: 20;
  --z-top-bar: 15;
  --z-popover: 10;
  --z-content-dropdown: 10;
  --z-content: 0;
}
