.ox-page-container {
  @apply grid h-screen grid-cols-[13.75rem,1fr];
}

.ox-sidebar {
  @apply overflow-auto border-r px-3 pb-6 pt-6 bg-default border-secondary;
}

.ox-content-pane-wrapper {
  @apply flex flex-col overflow-auto;
}

.ox-content-pane {
  @apply relative flex flex-grow flex-col pt-4 pb-20;
}

.ox-content-pane > *,
.ox-content-pane-actions > * {
  width: calc(100% - var(--content-gutter) * 2);
  margin-left: var(--content-gutter);
  margin-right: var(--content-gutter);
}
.ox-content-pane-actions {
  @apply sticky bottom-0 h-14 flex-shrink-0 overflow-hidden;
}

.ox-pagination-border {
  @apply bottom-14 !mx-0 h-0 !w-full bg-default border-secondary;
}
