/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

.ox-button {
  @apply relative;

  &:after {
    content: '';
    @apply absolute top-0 right-0 bottom-0 left-0 rounded-md border border-current/5;
  }
  &.btn-primary {
    @apply text-accent bg-accent hover:bg-accent-hover disabled:text-accent/35 disabled:bg-accent;
  }
  &.btn-primary:disabled > .spinner,
  &.btn-primary.visually-disabled > .spinner {
    @apply text-accent;
  }

  &.btn-secondary {
    @apply text-secondary bg-secondary hover:bg-hover disabled:text-secondary/35 disabled:bg-secondary;
  }
  &.btn-secondary:disabled > .spinner,
  &.btn-secondary.visually-disabled > .spinner {
    @apply text-secondary;
  }

  &.btn-danger {
    @apply text-destructive bg-destructive hover:bg-destructive-hover disabled:text-destructive/35 disabled:bg-destructive;
  }
  &.btn-danger:disabled > .spinner,
  &.btn-danger.visually-disabled > .spinner {
    @apply text-destructive;
  }

  &.btn-ghost {
    @apply text-secondary hover:bg-hover disabled:text-secondary/35 disabled:bg-transparent;
  }
  &.btn-ghost:after {
    @apply border-current/20;
  }

  &.btn-accent-ghost {
    @apply text-accent border-accent-secondary hover:bg-accent-hover border;
  }

  &.btn-accent-ghost:after {
    @apply hidden;
  }

  &.btn-accent-solid {
    @apply text-inverse bg-accent-inverse;
  }

  &.btn-accent-solid:after {
    @apply hidden;
  }
}

/**
 * A class to make it very visually obvious that a button style is missing
 */
.btn-not-implemented {
  @apply cursor-not-allowed text-transparent focus:ring-transparent;
  background: repeating-linear-gradient(45deg, yellow, yellow 10px, black 10px, black 20px);
}
