/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *  
 * Copyright Oxide Computer Company
 */

/* counterintuitively, no-preference covers the false case */
@media (prefers-reduced-motion: no-preference) {
  .global-loading-bar {
    opacity: 1;
    width: 0%;
  }

  .global-loading-bar.loading {
    animation-name: loading-bar-loading;
    animation-duration: 4s;
    /* don't reset to zero at 100%, just sit there */
    animation-fill-mode: forwards;
  }

  .global-loading-bar.done {
    animation-name: loading-bar-done;
    animation-duration: 0.3s;
  }

  @keyframes loading-bar-loading {
    0% {
      opacity: 1;
      width: 0%;
    }

    4% {
      opacity: 1;
      width: 20%;
    }

    40% {
      opacity: 1;
      width: 40%;
    }

    100% {
      opacity: 1;
      width: 45%;
    }
  }

  @keyframes loading-bar-done {
    0% {
      opacity: 1;
      width: 45%;
    }

    100% {
      opacity: 0;
      width: 100%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .global-loading-bar {
    opacity: 0;
    width: 100%;
  }

  .global-loading-bar.loading {
    animation-name: loading-bar-pulsing;
    animation-duration: 0.8s;
    /* don't reset to zero at 100%, just sit there */
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .global-loading-bar.done {
    animation-name: loading-bar-done-reduced;
    animation-duration: 0.1s;
  }

  @keyframes loading-bar-pulsing {
    0% {
      opacity: 0.7;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes loading-bar-done-reduced {
    0% {
      opacity: 1;
    }

    80% {
      opacity: 0.2;
    }

    100% {
      opacity: 0;
    }
  }
}
