/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *  
 * Copyright Oxide Computer Company
 */

.ox-menu {
  @apply !max-h-[17.5rem] overflow-y-auto rounded border bg-raise border-secondary elevation-2;
}

.ox-menu-item {
  @apply relative cursor-pointer px-3 py-2 text-sans-md text-default;
}

.ox-menu-item.is-highlighted {
  @apply bg-hover;
}

.ox-menu-item.is-highlighted.is-selected {
  @apply bg-accent-secondary-hover;
}

.ox-menu-item.is-selected[data-highlighted] {
  @apply bg-accent-secondary-hover;
}

.ox-menu-item.is-selected {
  @apply border-0 text-accent bg-accent-secondary hover:bg-accent-secondary-hover;
}

.ox-menu-item.is-selected:after {
  content: '';
  @apply absolute bottom-0 left-0 right-0 top-0 block rounded border border-accent;
}
