/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

.dropdown-menu-content {
  /* we want menu popover to be on top of top bar and pagination bar too */
  @apply bg-raise border-secondary z-(--z-top-bar-dropdown) min-w-36 rounded-md border p-0;

  & .DropdownMenuItem {
    @apply text-sans-md text-default border-secondary flex w-full cursor-pointer items-center border-b py-2 pr-6 pl-3 text-left select-none last:border-b-0;

    &.destructive {
      @apply text-destructive;
    }

    &[data-disabled] {
      @apply text-disabled cursor-not-allowed;
    }

    &.destructive[data-disabled] {
      @apply text-destructive-disabled;
    }

    &[data-focus] {
      outline: none;
      @apply bg-tertiary;
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu-content,
.popover-panel {
  animation: slide-down 0.2s var(--ease-out-quad);
}

@media (prefers-reduced-motion) {
  .dropdown-menu-content,
  .popover-panel {
    animation-name: none;
  }
}
