/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

.ox-menu {
  @apply bg-raise !max-h-[17.5rem] rounded-md p-px;
}

.ox-menu-item {
  @apply text-sans-md text-raise relative cursor-pointer px-3 py-2;
}

.ox-menu-item.is-highlighted {
  @apply bg-hover;
}

.ox-menu-item.is-highlighted.is-selected {
  @apply bg-accent-hover;
}

.ox-menu-item.is-selected[data-highlighted] {
  @apply bg-accent-hover;
}

.ox-menu-item.is-selected {
  @apply text-accent bg-accent hover:bg-accent-hover;
  .ox-badge {
    @apply text-inverse bg-accent ring-0;
  }
}

/* beautiful ring */
.ox-menu-item.is-selected:after {
  content: '';
  @apply ring-accent absolute inset-0 z-10 block rounded-sm ring;
}
