/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

.ox-mini-table {
  & {
    border-spacing: 0px;
  }

  /* all rows */
  & tr {
    @apply bg-default;
    @apply relative;
  }

  /* all cells */
  & td {
    @apply relative px-0 pt-2;
  }

  /* a fake left border for all cells that aren't first */
  & td + td:before {
    @apply border-secondary absolute top-[calc(0.5rem+1px)] bottom-[2px] block w-[1px] border-l;
    content: ' ';
  }

  & tr td:last-child:before {
    @apply hidden;
  }

  & tr:last-child td + td:before {
    @apply bottom-[calc(0.5rem+2px)];
  }

  /* all divs */
  & td > div {
    @apply border-default flex h-9 items-center border border-y border-r-0 py-3 pr-6 pl-3;
  }

  /* first cell's div */
  & td:first-child > div {
    @apply ml-2 rounded-l-md border-l;
  }

  /* second-to-last cell's div */
  & td:nth-last-child(2) > div {
    @apply rounded-r-md border-r;
  }

  /* last cell's div (the div for the delete button) */
  & td:last-child > div {
    @apply flex w-8 items-center justify-center border-none px-5;
  }

  /* the delete button */
  & td:last-child > div > button {
    @apply text-tertiary hover:text-secondary focus:text-secondary -m-2 flex items-center justify-center p-2;
  }

  & tr:last-child td {
    @apply pb-2;
  }

  & thead tr:first-of-type th:first-of-type {
    border-top-left-radius: var(--radius-lg);
    @apply overflow-hidden border-l;
  }

  & thead tr:first-of-type th:last-of-type {
    border-top-right-radius: var(--radius-lg);
    @apply w-8 overflow-hidden border-r;
  }

  & tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: var(--radius-lg);
  }

  & tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: var(--radius-lg);
  }
}
