/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

.ox-tabs.full-width {
  @apply !mx-0 !w-full;
}

.ox-tabs.full-width .ox-tabs-panel {
  @apply mx-(--content-gutter);
}

.ox-tabs-list {
  @apply mb-8 flex bg-transparent;
}

.ox-tabs-list:after {
  @apply border-secondary block w-full border-b;
  content: ' ';
}
.ox-tabs.full-width .ox-tabs-list:before {
  @apply border-secondary block w-10 min-w-max shrink-0 border-b;
  content: ' ';
}

.ox-tabs-panel:focus-visible {
  @apply outline-accent-secondary outline-2 outline-offset-[1rem];
}

.ox-tab {
  @apply text-mono-sm text-tertiary border-secondary h-10 space-x-2 border-b px-1.5 pt-2 pb-1 whitespace-nowrap uppercase no-underline!;
}

.ox-tab[data-state='active'],
.ox-tab.is-selected {
  @apply text-accent border-accent light:border-green-800 light:text-raise;
}

.ox-tab > * {
  @apply rounded-md bg-transparent px-1.5 py-1;
}
.ox-tab:hover > * {
  @apply bg-hover;
}

.ox-tab[data-state='active']:hover > *,
.ox-tab.is-selected:hover > * {
  @apply !bg-accent light:bg-hover!;
}

.ox-tab > .ox-badge {
  @apply -mt-1 text-current select-none;
}

.ox-tab[data-state='inactive'] > .ox-badge,
.ox-tab:not(.is-selected) > .ox-badge {
  @apply bg-disabled;
}

.ox-tab[data-state='active'] > .ox-badge,
.ox-tab.is-selected > .ox-badge {
  @apply bg-accent;
}
