name: Delete VM on PR close

on:
  pull_request:
    types: [closed]

jobs:
  packer:
    runs-on: ubuntu-latest
    name: packer

    steps:
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_PACKER }}
          service_account_key: ${{ secrets.GCP_SA_KEY_PACKER }}
          export_default_credentials: true
      - name: Delete vm for branch
        shell: bash
        run: gcloud compute instances delete "console-git-${BRANCH}" --quiet --zone=us-central1-a || true
        env:
          BRANCH: ${{ github.event.pull_request.head.ref }}
