name: Packer

on:
  push:
    paths:
      - 'packer/**' # Only run on changes to the packer directory.
      - '.github/workflows/packer.yaml' # Run when this file changes.
  workflow_dispatch:

jobs:
  packer:
    runs-on: ubuntu-latest
    name: packer
    outputs:
      packer-id: ${{ steps.packer-output.outputs.id }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_PACKER }}
          service_account_key: ${{ secrets.GCP_SA_KEY_PACKER }}
          export_default_credentials: true

      # validate templates
      - name: Validate Template
        uses: hashicorp/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: packer/config.pkr.hcl

      # build artifact
      - name: Build Artifact
        uses: hashicorp/packer-github-actions@master
        with:
          command: build
          arguments: '-color=false -on-error=abort'
          target: packer/config.pkr.hcl
        env:
          PACKER_LOG: 1
          GITHUB_TOKEN: ${{secrets.GLOBAL_GITHUB_TOKEN}}
          TAILSCALE_MACHINE_KEY: ${{secrets.TAILSCALE_MACHINE_KEY}}
          CLOUDFLARE_EMAIL: ${{secrets.CLOUDFLARE_EMAIL}}
          CLOUDFLARE_TOKEN: ${{secrets.CLOUDFLARE_TOKEN}}
          SSL_CERT: ${{secrets.SSL_CERT}}
          SSL_KEY: ${{secrets.SSL_KEY}}
          API_VERSION: 561d8d6b19c01a273b6b039628d1ff7b6b295b4e

      # get the image information from gcloud
      - name: Get image information
        id: packer-output
        shell: bash
        run: |
          PACKER=$(gcloud compute images list --sort-by "~creationTimestamp" --filter "name~'packer'" --limit 1)
          echo "$PACKER"
          echo "::set-output name=id::$(echo $PACKER | grep -o -P 'packer-\d+')"

  update-packer:
    runs-on: ubuntu-latest
    name: update-packer
    needs: packer
    if: ${{ github.ref != 'refs/heads/main' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Update packer id
        shell: bash
        run: |
          PACKER_SCRIPT="$(cat ./tools/create_gcp_instance.sh)"
          OLD_PACKER_ID=$(echo $PACKER_SCRIPT | grep -o -P 'packer-\d+')
          echo "${PACKER_SCRIPT/$OLD_PACKER_ID/${{ needs.packer.outputs.packer-id }}}" > ./tools/create_gcp_instance.sh
      - uses: EndBug/add-and-commit@v7
        with:
          add: ./tools/create_gcp_instance.sh
          message: 'automatically update packer-id'
          default_author: github_actions

  deploy-vm:
    needs: update-packer
    uses: oxidecomputer/console/.github/workflows/deploy-vm.yml@main
