name: Upload assets to dl.oxide.computer
# Files are at dl.oxide.computer/console/releases/<sha>.tar.gz

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GOOGLE_CLOUD_DL_SA }}'
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: oxide-downloads
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - run: npm install
      - name: Build for Nexus
        run: SHA=${{ github.sha }} npm run build
      - name: Gzip individual files (keep originals)
        run: ls dist/assets/*.{js,css,map} | xargs gzip --keep
      - name: add console_version file
        run: echo ${{ github.sha }} > dist/VERSION
      - run: mkdir -p releases/console
      - name: Make <sha>.tar.gz
        run: tar czf releases/console/${{ github.sha }}.tar.gz --directory=dist .
      - name: Write sha256sum to file
        run: sha256sum releases/console/${{ github.sha }}.tar.gz | awk '{print $1}' > releases/console/${{ github.sha }}.sha256.txt
      - name: Upload files to GCP bucket
        id: upload-files
        uses: google-github-actions/upload-cloud-storage@v0.9.0
        with:
          path: 'releases/console'
          destination: 'dl.oxide.computer'
