name: Upload assets
# Files are at dl.oxide.computer/console/releases/<sha>.tar.gz

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0.7.0'
        with:
          credentials_json: '${{ secrets.GOOGLE_CLOUD_DL_SA }}'
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.6.0
        with:
          project_id: oxide-downloads
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn install
      - name: Build for Nexus
        run: yarn build-for-nexus
      - run: mkdir -p releases/console
      - name: Make <sha>.tar.gz
        run: tar czf releases/console/${{ github.sha }}.tar.gz --directory=dist .
      - name: Copy <sha>.tar.gz to latest.tar.gz
        run: cp releases/console/${{ github.sha }}.tar.gz releases/console/latest.tar.gz
      - name: Upload files to GCP bucket
        id: upload-files
        uses: google-github-actions/upload-cloud-storage@v0.9.0
        with:
          path: 'releases/console'
          destination: 'dl.oxide.computer'
