name: Upload assets

on:
  push:
    branches: [main]
  pull_request: # TODO: remove before merge

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0.7.0'
        with:
          credentials_json: '${{ secrets.GOOGLE_CLOUD_DL_SA }}'
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.6.0
        with:
          project_id: oxide-downloads
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn install
      - name: Build for Nexus
        run: yarn build-for-nexus
      - name: Make tarball
        run: tar czf ${{ github.sha }}.tar.gz --directory=dist .
      - name: Upload files to GCP bucket
        id: upload-files
        uses: google-github-actions/upload-cloud-storage@v0.9.0
        with:
          path: ${{ github.sha }}.tar.gz
          destination: dl.oxide.computer/releases/console
