.toast-enter {
  transform: translateY(80%);
  opacity: 0;
}

.toast-enter-active {
  transform: none;
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.toast-exit {
  transform: none;
  opacity: 1;
}

.toast-exit-active {
  transform: scale(95%, 95%);
  opacity: 0;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
